@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

 .ju367v78 {
    color: #1A1A1A !important;
    background: #F5F57A !important;
}

@theme {
  --font-display: "Oswald", "sans-serif"; 
  --font-oswald: Oswald !important;
}

.ju367v2q {
    display: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/*
.ju367v76 {
    color: #ffffff !important;
    background: #1A1A1A!important;
}

.iekbcc {
    color: #ffffff !important;
    background: #1A1A1A!important;
}

.ju367v7q {
    border: none !important;
} */